.conteudo{
  padding: 5%;
}

.conteudo__titulo{
  text-align: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 2rem;
}

.resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 1000px) {
  .formulario{
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formulario input, select{
    max-width: 15rem;
  }
}